<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\alfon\source\repos\CurrencyConverter_Static\CurrencyConverter_Static\Database\CurrencyConverter.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>